<h1 class="table-caption">Загальний розклад</h1>
  <div class="table-container">
    <table id="schedule-table">
      <thead>
        <tr>
          <th colspan="2"></th>
          <th >1/2 тиждень</th>
          <th *ngFor="let group of groups">{{group.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let num of utils.getRange(1, 50);">
          <td class="weekday" rowspan="10" *ngIf="num%10==1"><span>{{ weekdays[utils.floor(num/10)] }}</span></td>
          <td rowspan="2" *ngIf="num%2==1"><div class="lessonOrder">{{ schdlConverter.chooseLessonOrder(num) }}</div></td>
          <td class="weekorder" *ngIf="num%2==1; else elseBlock">{{ 1 }}</td>
            <ng-template #elseBlock><td class="weekorder">{{ 2 }}</td></ng-template>
          <td *ngFor="let it of utils.getRange(1, groups.length)">
              {{ checkFacultySchedule(utils.ceil(num/10),num%2==1 ? false : true,schdlConverter.chooseLessonOrder(num),it)}}{{ schdlConverter.lesInfo }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
