<div class="container">
<h4>Cтворення події</h4>
<form [formGroup]="eventForm" (ngSubmit)="createEvent()">
    <div class="form-group">
      <label for="title">Назва:</label>
      <input type="text" id="title" formControlName="title" required>
    </div>
    
    <div class="form-group">
      <label for="subjects">Предмети:</label>
      <select id="subjects" formControlName="subjects">
        <option value="">Виберіть предмет</option>
        <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="attendees">Запрошені:</label>
      <select id="attendees" formControlName="attendees" multiple>
        <option *ngFor="let attendee of attendees" [value]="attendee.email">{{ attendee.firstName+" "+attendee.lastName }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="groups">Групи:</label>
      <select id="groups" formControlName="groups">
        <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="dayOfWeek">День тижня:</label>
      <select id="dayOfWeek" formControlName="dayOfWeek">
        <option value="">-- Виберіть день тижня --</option>
        <option *ngFor="let day of daysOfWeek; index as i" [value]="i+1">{{ day }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="timeOption">Вибір часу:</label>
      <div>
        <input type="radio" id="timeOption1" value="timeRange" formControlName="timeOption">
        <label for="timeOption1">Часовий проміжок</label>
      </div>
      <div>
        <input type="radio" id="timeOption2" value="classPeriods" formControlName="timeOption">
        <label for="timeOption2">Номер пари</label>
      </div>
    </div>
    
    <div class="form-group" *ngIf="eventForm.get('timeOption')!.value === 'timeRange'">
      <label for="startTime">Початок:</label>
      <input type="time" id="startTime" formControlName="startTime">
      
      <label for="endTime">Кінець:</label>
      <input type="time" id="endTime" formControlName="endTime">
    </div>
    
    <div class="form-group" *ngIf="eventForm.get('timeOption')!.value === 'classPeriods'">
      <label for="classPeriod">Номер пари(1-5):</label>
      <input type="number" id="classPeriod" formControlName="classPeriod" min="1" max="5">
    </div>
    
    <div class="form-group">
      <label for="eventType">Тип події:</label>
      <select id="eventType" formControlName="eventType">
        <option value="OPEN_LECTURE">Відкрита лекція</option>
        <option value="TEST">Залік</option>
        <option value="EXAM">Іспит</option>
        <option value="CUSTOM">Інше...</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="eventMode">Проведення події:</label>
      <div>
        <input type="radio" id="eventMode1" value="online" formControlName="eventMode">
        <label for="eventMode1">Онлайн</label>
      </div>
      <div>
        <input type="radio" id="eventMode2" value="offline" formControlName="eventMode">
        <label for="eventMode2">Офлайн</label>
      </div>
    </div>
    
    <div class="form-group" *ngIf="eventForm.get('eventMode')!.value === 'offline'">
      <label for="roomNumber">Номер аудиторії:</label>
      <input type="text" id="roomNumber" formControlName="roomNumber">
    </div>
    
    <button class="btn btn-primary" [disabled]="eventForm.invalid" type="submit">Створити подію</button>
    <button class="btn btn-primary" routerLink="..">Назад до списку</button>
  </form>
</div>
